
.footer__menu-link_active {
  text-decoration: none;
}

.footer__social {
  justify-self: end;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  height: 100%;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  height: 48px;
}
