.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 91px 51px 97px 51px;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-position: under;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
  padding: 1px 6px 0 6px;
}

.header__address {
  max-width: 240px;
  justify-self: end;
  font-style: normal;
  line-height: 135%;
  text-underline-position: under;
  padding: 6px 36px 0 0;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 165px 0 54px 50px;
  display: flex;
  flex-direction: column;
  gap: 78px;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
}

.cover__main-text {
  display: block;
  line-height: 115%;
}

.text-left {
  text-align: start;
}

.text-center {
  text-align: center;
  padding: 20px 20px 12px 0;
}

.text-right {
  text-align: right;
  padding: 8px 20px 29px 0;
}

.cover__discription {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: start;
  line-height: 140%;
  gap: 110px;
}

.cover__discription-text {
  font-size: 22px;
  color: #fff;
  word-spacing: 18px;
  line-height: 127%;
  white-space: nowrap;
  text-transform: uppercase;
}

.button-bet {
  font-weight: 500;
  text-align: center;
  font-size: 22px;
  color: #fff;
  padding: 13px 32px;
  border: 1px solid #fff;
  text-transform: uppercase;
  background-color: transparent;
}
.lots {
  display: flex;
  flex-direction: column;
  padding: 180px 24px 150px 24px;
}

.lots__main-text {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 28px 41px;
}

.lots__card-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 25px
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  flex-grow: 1;
}

.card__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  height: 100%;
}

.card-director {
  background-image: url(../images/card-lot-01.jpg);
}

.card-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-painting {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  z-index: 2;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  z-index: 2;
  color: #fff;
}

.lots__see-more {
  text-underline-position: under;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  padding: 30px 0 4px 40px;
}

.about-lots {
  display: grid;
  grid-template-columns: 330px auto;
  justify-items: center;
  padding: 0 27px 100px 24px;
  gap: 29px;
}

.about-lots__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: #000;
}

.about-lots__logo-image {
  width: 148px;
  height: 114px;
}

.about-lots__title {
  margin: 100px 0;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.about-lots__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 120%;
}

.footer {
  padding: 81px 50px 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.address {
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  text-underline-position: under;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social {
  justify-self: end;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  height: 100%;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-logo {
  height: 48px;
}